* {
    font-family: Arial, Helvetica, sans-serif;
    color: #3A005A;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
}

html {
    height: 100%;
}

header {
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #888889;
}

h1 {
    color: #ffffff;
    background: #6F557D;
    text-align: center;
    padding: 20px 30px 20px 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: #6F557D;
    border-bottom: 1.5px solid #3A005A;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#gifContainer {
    margin: 15px;
    padding: 5px;
    border: 1.5px solid #3A005A;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    
}

#searchbox {
    margin-top: 10px;
    text-align: center;
    position: relative;
    justify-content: center;
    border: 3px solid #582A72;
    border-radius: 5px;
    height:36px;
    font-size: medium;

}

#gifsearch {
    width: 40px;
    height: 36px;
    border: 1px solid #582A72;
    background: #582A72;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

button {
    padding: 10px;
    background: #582A72;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin: 5px;
    font-size: medium;
}

.container {
    margin: 15px;
    padding: 5px;
    border: 1.5px solid #3A005A;
    flex: 1 0 auto;
    text-align: center;
    border-radius: 5px;
}

.gifImg {
    margin: 5px;
}

/* Large screens, Desktops */
@media screen and (max-width: 980px) {

}

/* Medium screens, tablets */
@media screen and (max-width: 768px){

}

/* Small screens, phones */
@media screen and (max-width: 640px){
    h1 {
        margin: 0;
        padding: 20px 10px 20px 10px;
    }

    header {
        display: inline;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    #gifcontainer {
        display: inline;
    }

    img {
        width: 100%;
    }
}


