* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background: #582A72;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin: 5px;
    font-size: medium;
}

button:hover {
    background-color: lightcoral;
}



ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #582A72;
    color: white;
}

li {
    padding: 20px;
    font-size: larger;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}

#right {
    float: right;
}

#left {
    float: left;
}

#gifContainer {
    margin: 15px;
    padding: 5px;
    border: 1.5px solid #3A005A;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 5px;
    
}

#searchBox {
    margin-top: 10px;
    text-align: center;
    position: relative;
    justify-content: center;
    border: 3px solid #582A72;
    border-radius: 5px;
    height:36px;
    font-size: medium;

}

#gifSearch {
    width: 40px;
    height: 36px;
    background: #582A72;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-size: medium;
}

.container {
    margin: 15px;
    padding: 5px;
    border: 1.5px solid #3A005A;
    flex: 1 0 auto;
    text-align: center;
    border-radius: 5px;
}

.gifImg {
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: auto;
}

/* Large screens, Desktops */
@media screen and (max-width: 980px) {
    *{
        align-items: center;
    }

    ul,li, #right, #left {
        text-align: center;
    }
    
    nav {
        font-size: .75rem;
    }

    button {
        font-size: .75rem;
        padding: 5px;
    }

    #searchBox, #gifSearch {
        font-size: 0.75rem;
    }

    .container {
        border: none;
        font-size: 0.75rem;
        align-items: center;
    }

    #gifContainer {
        flex: wrap;
        border:none;
        padding: 2px;
        margin: 2px;
    }
    
    .gifImg {
        padding: 2px;
        margin: 2px;
    }

}

/* Medium screens, tablets */
@media screen and (max-width: 768px){
    *{
        align-items: center;
    }

    ul,li, #right, #left {
        text-align: center;
    }
    
    nav {
        font-size: .75rem;
    }

    button {
        font-size: .75rem;
        padding: 5px;
    }

    #searchBox, #gifSearch {
        font-size: 0.75rem;
    }

    .container {
        border: none;
        font-size: 0.75rem;
        align-items: center;
    }

    #gifContainer {
        flex: wrap;
        border:none;
        padding: 2px;
        margin: 2px;
    }
    
    .gifImg {
        padding: 2px;
        margin: 2px;
    }

}

/* Small screens, phones */
@media screen and (max-width: 640px){
    *{
        align-items: center;
    }

    ul,li, #right, #left {
        float: none;
        text-align: center;
        font-size: 0.75rem;
        padding: 3px 0px 3px 0px;
    }
    
    nav {
        font-size: .75rem;
    }

    button {
        font-size: .75rem;
        padding: 5px;
    }

    #searchBox, #gifSearch {
        font-size: 0.75rem;
        padding: 3px;
        margin: 0px;
    }

    input {
        padding: 0px;
        margin: 0px;
    }

    .container {
        border: none;
        font-size: 0.75rem;
        padding: 10px;
        margin: 0px;
        align-items: center;
    }

    #gifContainer {
        display: inline;
        border:none;

    }
    
    .gifImg {
        width: 50%;
        height: auto;

    }

}


